<!DOCTYPE html>
<html>
  <head>
    <title>DJ Page</title>
    <link rel="stylesheet" href="/static/DJ/style.css" />
    <script>
      function addPlaylist() {
        const dialog = document.querySelector("dialog#add_playlist");
        dialog.showModal();
      }

      function getCurrentTimeslotId() {
        const selectedTimeslot = document.querySelector(
          'input[name="timeslot"]:checked'
        );

        if (!selectedTimeslot) {
          alert("Please select a timeslot");
          return;
        }

        const timeslotSplit = selectedTimeslot.id.split("_");

        if (timeslotSplit.length !== 2) {
          alert(
            "There was an error selecting the current timeslot. Please refresh and try again (ID was malformed)"
          );
          return;
        }

        const timeslotIdRaw = timeslotSplit[1];

        const timeslotId = parseInt(timeslotIdRaw);

        if (isNaN(timeslotId)) {
          alert(
            "There was an error selecting the current timeslot. Please refresh and try again (ID wasn't number)"
          );
          return;
        }

        return timeslotId;
      }

      function deleteSong(id) {
        const timeslotId = getCurrentTimeslotId();

        if (!timeslotId) {
          return;
        }

        const res = fetch(`/dj/api/playlist/${timeslotId}/${id}`, {
          method: "DELETE",
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            } else {
              throw new Error("Error deleting song");
            }
          })
          .catch((err) => {
            console.error("Error deleting song", err);
            alert("Error deleting song");
          });
      }

      function saveSong(id) {
        const timeslotId = getCurrentTimeslotId();

        if (!timeslotId) {
          return;
        }

        const title = document.getElementById(
          `song_config_new_title_${id}`
        ).value;

        if (!title) {
          alert("Please enter a title");
        }
        const res = fetch(`/dj/api/playlist/${timeslotId}/${id}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ title }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            } else {
              throw new Error("Error saving song");
            }
          })
          .catch((err) => {
            console.error("Error saving song", err);
            alert("Error saving song");
          });
      }
    </script>
  </head>

  <body>
    <%- include("./partials/header"); %>

    <main>
      <div
        style="
          max-width: 1920px;
          width: 100%;
          height: 100%;
          background-color: #494947;
        "
      >
        <div style="padding: 10px">
          <div
            style="
              width: 98%;
              text-align: center;
              background-color: #78e3fd;
              padding: 10px;
              font-size: 50px;
            "
            id="motd"
          >
            <%= motd %>
          </div>
        </div>
        <div style="height: 100%; width: 100%; padding: 10px">
          <div
            style="
              display: flex;
              height: 100%;
              width: 98%;
              justify-content: space-between;
            "
          >
            <div class="main_card">
              <h2 style="text-align: center">Time Slots</h2>
              <hr style="width: 90%" />
              <ul
                id="timeslot_list"
                style="list-style-type: none; font-size: large"
              >
                <% timeslots.forEach((timeslot) => { %>
                <li>
                  <input type="radio" name="timeslot" id="timeslot_<%=
                  timeslot.id %>" <%= timeslot.selected ? 'checked' : '' %>
                  onclick="window.location.href = '<%= `/dj/${timeslot.id}` %>'"
                  />
                  <label><%= timeslot.label %></label>
                </li>
                <% }); %>
              </ul>
            </div>
            <div class="main_card">
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  width: 100%;
                  align-items: center;
                  justify-content: center;
                "
              >
                <h2>Current Playlist</h2>
                <button
                  id="add_playlist"
                  style="margin-left: 10px; font-size: 20px"
                  onclick="addPlaylist()"
                >
                  +
                </button>
                <dialog id="add_playlist">
                  <form method="dialog">
                    <input type="text" style="width: 90%" />
                    <br />
                    <h2 style="text-decoration: underline">Songs</h2>
                    <ul id="add_record_song_list" style="font-size: large">
                      <li>Song 1</li>
                      <li>Song 2</li>
                      <li>Song 3</li>
                    </ul>
                    <h2 style="text-decoration: underline">
                      Previous Playlists
                    </h2>
                    <div
                      id="add_record_playlist_list"
                      style="
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding: 1px;
                      "
                    >
                      <div
                        style="
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          justify-content: center;
                        "
                      >
                        <h3 style="padding: 0px; font-size: small">
                          Playlist 1
                        </h3>
                        <p style="font-size: xx-small">12/31/69</p>
                        <ul>
                          <li>Song 1</li>
                          <li>Song 2</li>
                          <li>Song 3</li>
                        </ul>
                      </div>
                      <div
                        style="
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          justify-content: center;
                        "
                      >
                        <h3 style="padding: 0px; font-size: small">
                          Playlist 2
                        </h3>
                        <p style="font-size: xx-small">12/31/69</p>
                        <ul>
                          <li>Song 1</li>
                          <li>Song 2</li>
                          <li>Song 3</li>
                        </ul>
                      </div>
                      <div
                        style="
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          justify-content: center;
                        "
                      >
                        <h3 style="padding: 0px; font-size: small">
                          Playlist 3
                        </h3>
                        <p style="font-size: xx-small">12/31/69</p>
                        <ul>
                          <li>Song 1</li>
                          <li>Song 2</li>
                          <li>Song 3</li>
                        </ul>
                      </div>
                    </div>
                    <menu
                      style="width: 80%; display: flex; justify-content: end"
                    >
                      <button id="cancel_button" value="cancel">Cancel</button>
                      <button
                        id="ok_button"
                        style="margin-left: 2px"
                        value="ok"
                      >
                        OK
                      </button>
                    </menu>
                  </form>
                </dialog>
              </div>
              <hr style="width: 95%" />
              <table
                id="playlist_table"
                style="width: 100%; text-align: center"
                class="draggable_table"
              >
                <tr>
                  <th></th>
                  <th id="number_column">#</th>
                  <th>Name</th>
                  <th>Producer Selected</th>
                  <th></th>
                </tr>
                <% playlist.forEach((song) => { %>
                <tr id="<%= `table_row_${song.id}` %>">
                  <td>
                    <svg
                      width="20px"
                      height="20px"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      style="cursor: pointer; select: none"
                    >
                      <path
                        d="M4 18L20 18"
                        stroke="#000000"
                        stroke-width="2"
                        stroke-linecap="round"
                      ></path>
                      <path
                        d="M4 12L20 12"
                        stroke="#000000"
                        stroke-width="2"
                        stroke-linecap="round"
                      ></path>
                      <path
                        d="M4 6L20 6"
                        stroke="#000000"
                        stroke-width="2"
                        stroke-linecap="round"
                      ></path>
                    </svg>
                  </td>
                  <td><%= song.position %></td>
                  <td><%= song.title %></td>
                  <td><%= song.producer %></td>
                  <td>
                    <button
                      onclick="document.getElementById('<%= `song_config_${song.id}` %>').showModal()"
                    >
                      ⚙
                    </button>
                    <dialog id="<%= `song_config_${song.id}` %>">
                      <label>Title</label>
                      <div style="display: flex; flex-direction: column">
                        <input
                          id="<%= `song_config_new_title_${song.id}` %>"
                          value="<%= song.title %>"
                          type="text"
                        /><menu>
                          <button
                            onclick="deleteSong(<%= song.id %>)"
                            type="button"
                          >
                            Delete</button
                          ><button
                            onclick="saveSong(<%= song.id %>)"
                            type="button"
                            style="margin-left: 2px"
                          >
                            Save</button
                          ><button
                            onclick="document.getElementById('<%= `song_config_${song.id}` %>').close(); document.getElementById('<%= `song_config_new_title_${song.id}` %>').value = '<%= song.title %>'"
                            type="button"
                            style="margin-left: 2px"
                          >
                            Cancel
                          </button></menu
                        >
                      </div>
                    </dialog>
                  </td>
                </tr>
                <% }); %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include("./partials/footer"); %>

    <script src="/static/DJ/js/drag.js"></script>
  </body>
</html>
